.edge-border {
  border: thin solid black;
  border-radius: 5px;
  padding: 10px;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: sans-serif;
}

.calc-back {
  width: 400px;
  height: 300px;

  padding: 20px;
  border: thin solid black;
  border-radius: 5px;
}

.calc-elements {
  height: 100%;

  display: flex; gap: 10px;
  flex-direction: column;
}

.calc-display {
  flex: 1;
  font-size: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.calc-keys {
  flex: 3;

  display: flex;
  gap: 10px;
}

.num-symbolKeys {
  flex: 4;

  display: flex;
  gap: 10px;
}
.special-keys {
  flex: 1;
  
  display: flex; gap: 2%;
  flex-direction: column;
}

.num-keys {
  flex: 4;

  display: flex; gap: 2%;
  flex-wrap: wrap;
}
.symbol-keys {
  flex: 1;

  display: flex; gap: 2%;
  flex-direction: column;
}

.num-key {
  flex-basis: 32%;
  border: thin solid black;
}
.symbol-key {
  flex: 1;
  border: thin solid black;
}
.special-key {
  flex: 1;
  border: thin solid black;
}